CSI3003 Artificial Intelligence and Expert Systems/syllabus and books/
CSI3005 Advanced Data Visualization Techniques/syllabus and books/Book-Tamara-Munzer-Data-Visualization.pdf
CSI3005 Advanced Data Visualization Techniques/class notes/cat-1 to cat-2.docx
CSI3010 Data Warehousing Data Mining/class notes/cat-1 to cat-2.docx
CSI2006 Micrprocessor and Interfacing Techniques/class notes/cat-1 to cat-2.docx
CSI3003 Artificial Intelligence and Expert Systems/class notes/cat1-cat2.docx
